<h5>Overdue (<span id="count-overdue"><%= overdueTodos.length %></span>)</h5>
<table>
  <% overdueTodos.forEach(todo => { %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.dueDate %></td>
    </tr>
  <% }) %>
</table>

<!-- Due Today Section -->
<h5>Due Today (<span id="count-due-today"><%= dueTodayTodos.length %></span>)</h5>
<table>
  <% dueTodayTodos.forEach(todo => { %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.dueDate %></td>
    </tr>
  <% }) %>
</table>

<!-- Due Later Section -->
<h5>Due Later (<span id="count-due-later"><%= dueLaterTodos.length %></span>)</h5>
<table>
  <% dueLaterTodos.forEach(todo => { %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.dueDate %></td>
    </tr>
  <% }) %>
</table>
