<!-- todos.ejs -->

<!-- Overdue Section -->
<h5>Overdue (<span id="count-overdue">
        <%= overdueTodos.length %>
    </span>)</h5>
<ul>
    <% overdueTodos.forEach(todo=> { %>
        <li class="Todo-Item">
            <label for="todo-<%= todo.id %>">
                <input type="checkbox" id="todo-<%= todo.id %>" <%=todo.completed ? "checked" : "" %>
                onchange="toggleComplete(<%= todo.id %>, this.checked)"
                    />
                    <%= todo.title %> - <%= todo.dueDate %>
            </label>
            <form action="/todos/<%= todo.id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }) %>
</ul>

<!-- Due Today Section -->
<h5>Due Today (<span id="count-due-today">
        <%= dueTodayTodos.length %>
    </span>)</h5>
<ul>
    <% dueTodayTodos.forEach(todo=> { %>
        <li class="Todo-Item">
            <label for="todo-<%= todo.id %>">
                <input type="checkbox" id="todo-<%= todo.id %>" <%=todo.completed ? "checked" : "" %>
                onchange="toggleComplete(<%= todo.id %>, this.checked)"
                    />
                    <%= todo.title %> - <%= todo.dueDate %>
            </label>
            <form action="/todos/<%= todo.id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }) %>
</ul>

<!-- Due Later Section -->
<h5>Due Later (<span id="count-due-later">
        <%= dueLaterTodos.length %>
    </span>)</h5>
<ul>
    <% dueLaterTodos.forEach(todo=> { %>
        <li class="Todo-Item">
            <label for="todo-<%= todo.id %>">
                <input type="checkbox" id="todo-<%= todo.id %>" <%=todo.completed ? "checked" : "" %>
                onchange="toggleComplete(<%= todo.id %>, this.checked)"
                    />
                    <%= todo.title %> - <%= todo.dueDate %>
            </label>
            <form action="/todos/<%= todo.id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }) %>
</ul>

<!-- Completed Section -->
<h5>Completed Items (<span id="count-completed">
        <%= completedTodos.length %>
    </span>)</h5>
<ul>
    <% completedTodos.forEach(todo=> { %>
        <li class="Todo-Item">
            <label for="todo-<%= todo.id %>">
                <input type="checkbox" id="todo-<%= todo.id %>" checked
                    onchange="toggleComplete(<%= todo.id %>, false)" />
                <%= todo.title %> - <%= todo.dueDate %>
            </label>
            <form action="/todos/<%= todo.id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }) %>
</ul>

<!-- JS to handle toggle complete -->
<script>
    async function toggleComplete(id, completed) {
        await fetch(`/todos/${id}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ completed })
        });
        window.location.reload();
    }
</script>