<h5>Overdue</h5>
<p id="count-overdue"><%= overdueTodos.length %> items</p>
<ul>
  <% overdueTodos.forEach(todo => { %>
    <li><%= todo.title %> (Due: <%= todo.dueDate %>)</li>
  <% }) %>
</ul>

<h5>Due Today</h5>
<p id="count-due-today"><%= dueTodayTodos.length %> items</p>
<ul>
  <% dueTodayTodos.forEach(todo => { %>
    <li><%= todo.title %> (Due: <%= todo.dueDate %>)</li>
  <% }) %>
</ul>

<h5>Due Later</h5>
<p id="count-due-later"><%= dueLaterTodos.length %> items</p>
<ul>
  <% dueLaterTodos.forEach(todo => { %>
    <li><%= todo.title %> (Due: <%= todo.dueDate %>)</li>
  <% }) %>
</ul>
